.shelf-layout-container[b-44ve09oslf] {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cabinet[b-44ve09oslf] {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
}

.row[b-44ve09oslf] {
    margin-top: 10px;
}

.lanes[b-44ve09oslf] {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}

.lane[b-44ve09oslf] {
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #e9e9e9;
}
