.sku-item[b-xmm1r3p6vc] {
    width: 250px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    text-align: center;
}

.sku-image-container[b-xmm1r3p6vc] {
    width: 150px; /* Fixed width */
    height: 150px; /* Fixed height */
    overflow: hidden; /* Hide parts of the image that overflow */
    margin: 0 auto; /* Center the image container */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sku-image-container img[b-xmm1r3p6vc] {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensures the image keeps its aspect ratio */
}

.sku-item.dragging[b-xmm1r3p6vc] {
    background-color: #f0f0f0; /* Change background color */
    /* Other styles for dragging state */
}

.lane.drag-over[b-xmm1r3p6vc] {
    background-color: #e0e0e0; /* Example styling for drag over */
}
.name-container[b-xmm1r3p6vc] {
    flex-grow: 1; /* Allow the name container to grow and occupy the available space */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Show ellipsis for overflowing text */
}
